
body 
{
    background-color: rgb(20, 22, 25);
    font-family: Arial, Helvetica, sans-serif;
}


.dir td:hover{
  background-color: rgb(54, 54, 54);
}

.header {
  height: 80px;
  border-bottom: 1px solid #ff1243;
  display: flex;
  align-items: center;
  
}

.header-logo-svg {
  height: 60px;
  padding-right: 10px;
}

#logo {
  flex-grow: 1;
}

#button {
  flex-grow: 1;
  padding-left: 10px;
}


#details {
  color:#ebebeb;
}


#songcontrol {
  padding-top: 3%;
  padding-bottom: 3%;
  
}

#backbtn {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}

#backbtn:hover {
  background-color: rgb(54, 54, 54);
}


#dir {
  padding-right: 20px;
  font-size: 24px;
  float: left;
}

#dir:hover {
  background-color: rgb(54, 54, 54);
}


.bottomhorizontalmenu {
  height: 30px;
  border-top: 1px solid #ff1243;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin-top: 1%;
  margin-bottom: 1%;
}

.spacer {
  height: 30px;
  border-top: 1px solid #ff1243;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

.header-text {
  flex-grow: 5;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    color: #ebebeb;
    text-align: center;
    
    width: 100%;
}

.infotext {
  color: #ebebeb;
}

h2 {
  color: #ebebeb;
}


.pagebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  object-fit: contain;
  padding-top: 2%;
}
